body{
    header{
        position: sticky;
        top: 0;
        nav{
            display: flex;
            align-items:center;
            a img.logo__fuser{
                margin-left: 15px;
                width: 50px;
                height: auto;
                display: flex;
                opacity: 0.8;
                &:hover{
                    opacity: 1;
                    transform: scale(1.08);
                }
            }
        }

        ul.flex__container{
            list-style: none;
            display: flex;
            align-items: center;
            margin-top: 10px;
            color: nth($colores, 4 );
            font-family: 'Open Sans', sans-serif;
            font-size: nth($font-size, 11 );
            font-weight: 300;
            padding: 5px;
            margin: 4px;
            border-radius: 3px;
                li{
                    padding: 10px;
                    a.boton{
                        background-color: map-get($boton, bg-boton);
                        text-decoration: none;
                        padding: 6px 30px 6px 30px;
                        margin: 2px 20px 2px 20px;
                        font-size: nth($font-size, 8 );
                        color: map-get($boton, text-color);
                        border-radius: ($boton, border-radius);
                        &:hover{
                            background-color: nth($colores, 7 );
                            font-size: nth($font-size, 9 );
                            font-weight: 600;
                            transform: scale(1.03);
                            color: nth($colores, 1 );
                            border-radius: 8px;            
                        }        
                    }
                }    
        }
    }
}

